{% extends "bouraka/base.html" %}
{% load staticfiles %}

{% block imports %}
<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block blueimp %}
{% endblock %}

{% block content %}
<div class="container" style="font-size:120%;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h1 style='text-align:center;'> Nos coordonnées </h1>
        </div>
      </div>
      <hr style="width:100%;" />  <!-- ********************************************** -->
      <div class="row" style=" margin-top:3%">
        <div class="col-xs-4" >
          <img  style="width:100%;" src="{% static 'images/contacts/logo_pic.png' %}" alt="Not Rendered">
        </div>
        <div class="col-xs-8">
          <p align=right>
          <b>Adresse postale :</b> Proto INSA Club, INSA Lyon, Secrétariat GMC, 20 avenue Albert Einstein, 69621 Villeurbanne Cedex
          </p>
          <p align=right>
          <b>Adresse physique :</b> Campus de la Doua, INSA Lyon, Bâtiment Jules Verne
          </p>
          <p align=right>
          <b>Mail :</b> pic.asso@insa-lyon.fr
          </p>
          <p align=right>
          <b>Tél :</b> +33 6 35 57 56 05
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h1 style='text-align:center;'> Suivez-nous sur </h1>
        </div>
      </div>
      <hr style="width:100%;" />  <!-- ********************************************** -->
      <div class="row" style=" margin-top:3%">
        <p align=center>
        <b>Twitter:</b> <a href="https://twitter.com/InsaProto"><i class="fa fa-twitter" style="font-size: 44px;"></i></a>
        </p>
        <p align=center>
        <b>Youtube :</b> <a href="https://www.youtube.com/user/ProtoINSAClub"><i class="fa fa-youtube-play" style="font-size: 44px;"></i></a>
        </p>
        <p align=center>
        <b>Facebook:</b> <a href="https://www.facebook.com/ProtoINSAClub"><i class="fa fa-facebook-square" style="font-size: 44px;"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
