{% extends "bouraka/base.html" %}
{% load staticfiles %}

{% block imports %}
<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block blueimp %}
{% endblock %}

{% block content %}

<div class="container" style="padding-left:10%;padding-right:10%;"  >

	<div class="row" style="margin:5%;">
		<div class="col-md-12">
			<a href="{% static 'images/educeco/Logo_educEco.jpg' %}" alt="Not Rendered" style="width:70%;"><img class="image center-block" src="{% static 'images/educeco/Logo_educEco.jpg' %}" alt="Not Rendered" style="width:70%;" ></a>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Présentation</h3><br/>
			<p>
Le Challenge «EducEco»est un évènement qui a étécrééen 2009 par l’Education Nationale Française suite àla délocalisation du Shell Eco Marathon en Allemagne.<br/><br/>

Il a étécrééafin de «faire perdurer la totalitéde ces projets [visant àla participation au Shell Eco Marathon, NdR] en manifestant le désir de prolonger les valeurs de l'épreuve autour d'un nouveau challenge reliant élèves, étudiants, enseignants et entreprises »Communiquéde Jean-Paul CHASSAING, Président de l’AD3E [Association pour le Développement d’Epreuves Educatives pour l’Eco-Mobilité].
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
<p><br/>Désormais deux ou trois semaines après la compétition du Shell Eco Marathon, l’Educ’Eco est l’évènement permettant de faire une dernière performance avant la fin de la saison.</p>
		</div>
	</div>


	<div class="row" style="margin:5%;">
		<div class="col-md-12">
			<a href="{% static 'images/educeco/10155565_1479950162239663_1959481520603318838_n.jpg' %}" alt="Not Rendered" style="width:29%;"><img src="{% static 'images/educeco/10155565_1479950162239663_1959481520603318838_n.jpg' %}" alt="Not Rendered" style="width:29%;" ></a>
			<a href="{% static 'images/educeco/Protos_educeco.jpg' %}" alt="Not Rendered" style="width:34%;"><img src="{% static 'images/educeco/Protos_educeco.jpg' %}" alt="Not Rendered" style="width:34%;" ></a>
			<a href="{% static 'images/educeco/viewer.png' %}" alt="Not Rendered" style="width:34%;"><img src="{% static 'images/educeco/viewer.png' %}" alt="Not Rendered" style="width:34%;" ></a>
		</div>

	</div>

	<hr style="width:100%; margin-top:5%;" />  <!-- ********************************************** -->

	<div class="row">
		<div class="col-md-12 ">
			<h3>Le PIC à l’Educ’Eco</h3><br/>
			<p>
La présence du PIC aux premiers rangs de cette compétition nous permet de nous faire connaître, et donc de faire connaître l’INSA de Lyon, au plus grand nombre. En effet les équipes françaises représentant des lycées et des IUT ou BTS ont des moyens plus limités, qui ne leur permettent pas forcément de se déplacer jusqu’au Pays-Bas. Elles sont pourtant composées de personnes susceptibles de rejoindre une grande école d’ingénieur dans un avenir proche, àqui il est donc opportun de faire connaître l’INSA de Lyon. (34 équipes de lycéens et 20 équipes de Bac+2 àl’EducEco 2010).</br></br>

Il y a quatre ans, le PIC a remportéla seconde place de cette compétition, mettant ainsi en valeur tout le travail réalisépar l’équipe. Cela fait maintenant trois ans que nous n’avons pas participéàcette compétition (pour des raisons de disponibilitéet de budget) et nous souhaitons cette année nous réinscrire.</br></br>

Pour plus d’informations, visitez le site de l’Educ’Eco : <a href="http://www.educeco.net">http://www.educeco.net</a>.</br>
			</p>
		</div>
	</div>

	<div class="row" style="margin:3%;">
		<div class="col-md-12">
			<a href="{% static 'images/educeco/Bandeau_educEco.jpg' %}" alt="Not Rendered" style="width:100%;"><img class="image center-block" src="{% static 'images/educeco/Bandeau_educEco.jpg' %}" alt="Not Rendered" style="width:100%;" ></a>
		</div>

	</div>

</div>

{% endblock %}









