{% extends "bouraka/base.html" %}
{% load staticfiles %}

{% block blueimp %}
<!-- The Gallery as lightbox dialog, should be a child element of the document body 
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-3 "> <!---->
      <h3 class="form-signin-heading">Actualités</h3>
        <section class="panel panel-default">
          <div class="panel-body">
            {% if latest_news_list %}
            <ul>
            {% for news in latest_news_list %}
              <li><h4><a href="/actualites/#{{ news.title }}">{{ news.title }}</a></h4></li>
            {% endfor %}
            </ul>
            {% else %}
            <p>No news are available.</p>
            {% endif %}
          </div>
        </section>
    </div>

    <div class="col-md-6">
      <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
      <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol> 
      </div>
      <!-- list of pictures to display -->
      <div id="links" class="links">
        <a href="{% static 'images/diapo/0001.jpg' %}" title="pic 1">
          <!-- <img src="{% static 'images/thumbnails/photonews2.jpg' %}" alt="pic 2"> -->
        </a>
        <a href="{% static 'images/diapo/0002.jpg' %}" title="pic 2">
          <!-- <img src="{% static 'images/thumbnails/photo3.jpg' %}" alt="pic 3"> -->
        </a>
        <a href= "{% static 'images/diapo/0003.jpg' %}" title="pic 3">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0004.jpg' %}" title="pic 4">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0005.jpg' %}" title="pic 5">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0006.jpg' %}" title="pic 6">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0007.jpg' %}" title="pic 7">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0008.jpg' %}" title="pic 8">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0009.jpg' %}" title="pic 9">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0010.jpg' %}" title="pic 10">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0011.jpg' %}" title="pic 11">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0012.jpg' %}" title="pic 12">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0013.jpg' %}" title="pic 13">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0014.jpg' %}" title="pic 14">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0015.jpg' %}" title="pic 15">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0016.jpg' %}" title="pic 16">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0017.jpg' %}" title="pic 17">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0018.jpg' %}" title="pic 18">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0019.jpg' %}" title="pic 19">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0020.jpg' %}" title="pic 20">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0021.jpg' %}" title="pic 21">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0022.jpg' %}" title="pic 22">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
        <a href= "{% static 'images/diapo/0023.png' %}" title="pic 23">
          <!-- <img src="{% static 'images/thumbnails/photonews1.jpg' %}" alt="pic 4"> -->
        </a>
      </div> 
      <br>
    </div>
    <div class="col-md-2">
      <h3 class="form-signin-heading">Abonnement à la newsletter</h3>
      <form id="login_form" method='post' action='/newsletter/subscribe_default/'> {% csrf_token %}
        <br>
        <button class="btn btn-sm btn-primary btn-block" type="submit" name="subscribe">S'abonner</button>
        <br>
        <button class="btn btn-sm btn-primary btn-block" type="submit" name="unsubscribe">Se désabonner</button>
      </form>
        <br>
        <div style="font-size: 44px;">
          <a href="https://www.facebook.com/ProtoINSAClub"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.youtube.com/user/ProtoINSAClub"><i class="fa fa-youtube-play"></i></a>
          <a href="https://twitter.com/InsaProto"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<!-- Marketing messaging and featurettes -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.insa-lyon.fr/">
        <img class="img-circle center-block" src="{% static 'images/home/insa.jpg' %}" style="width:39.2%;" alt="Not Rendered">
      </a>
      <h2><p class="text-center">Notre Ecole</p></h2>
      <p align="justify"> L'INSA de Lyon est une des grandes écoles d'ingénieurs françaises, pluridisciplinaire et internationale au cœur de l'Europe. Elle forme des ingénieurs pluri-compétents, humanistes, innovants et dotés d'un esprit entrepreneurial.</p>
    </div>
    <div class="col-md-4">
      <a href="http://www.shell.com/global/environment-society/ecomarathon/events/europe.html">
        <img class="img-circle center-block" src="{% static 'images/home/shell.jpg' %}" style="width:39.2%;" alt="Not Rendered">
      </a>
      <h2><p class="text-center">Le Shell Eco-marathon</p></h2>
      <p align="justify">Le SEM est une compétition internationale où plus de 200 équipes d'étudiants du monde entier s'affrontent pour concevoir, construire et faire courir des véhicules à ultra faible consommation d'énergie. Avec 50000 visiteurs annuels, c'est un évènement unique qui suscite le débat sur ​​l'avenir de la mobilité, inspirant les jeunes ingénieurs à repousser les limites de l'efficacité énergétique.</p>
    </div>
    <div class="col-md-4">
      <a href="/sponsors/">
        <img class="img-circle center-block" src="{% static 'images/home/sponsors.png' %}" alt="Not Rendered">
      </a> 
      <h2><p class="text-center"> Nos Sponsors </p></h2>
      <p align="justify">Plusieurs entreprises, organisations et associations nous aident à faire évoluer notre prototype chaque année. Nous les remercions sincèrement et nous espérons que notre partenariat se poursuivra pour les années à venir.</p>
    </div>
  </div> 
</div>
{% endblock %}
