{% extends "pic_site/base.html" %}
{% load staticfiles %}

{% block blueimp %}
{% endblock %}

{% block content %}


<div class="container" style="padding-left:7%;padding-right:7%;"  >


	<div class="row">
		<div class="col-md-12">
			<h1 style='text-align : center;'> Présentation d’Envol </h1> <br/>
		</div>
	</div>



	<div class="row" style="margin-bottom:6%">
		<div class="col-md-7" style="padding-bottom:-2%">
			<img  style="width:100%;" src="{% static 'images/EPIC en course.jpg' %}" alt="Not Rendered">
		</div>

	</div>

	<div class="row" style="line-height: 1.8em;" >
		<div class="col-md-3">
			<h4>Ses dimensions :</h4>
				<ul>
				<li>	Longueur : 2.80 m</li>
				<li>	Largeur : 0.90 m</li>
				<li>	Hauteur : 0.40 m</li>
				<li>	Masse à vide : 42 kg</li>
				</ul>
		</div>

		<div class="col-md-6" style="border-left: solid #FFF0FF;border-right: solid #FFF0FF;">
			<h4>Ses caractéristiques sont les suivantes :</h4>
				<ul>
				<li>	Moteur de 4 temps de 26 cm^3 développant 1.2 CV (depuis 1997)</li>
				<li>	Injection et gestion électronique intégrale du moteur</li>
				<li>	Chassis tubulaire en aluminium</li>
				<li>	Pneus spéciaux développés par MICHELIN</li>
				<li>	Coque en carbone développée en soufflerie (5 kg)</li>
				<li>	Roulements de précision développés par SNR</li>
				<li>	Roue libre spéciale sans frottements</li>
				</ul>
		</div>

		<div class="col-md-3">
			<h4>Ses performances :</h4>
				<ul>
				<li>	Vitesse max : 60 km/h</li>
				<li>	Performances enregistrées : 518 km/L, 534 km/L, 804 km/L, 946 km/L, 990 km/L (en 2000).</li>
				</ul>
		</div>
	</div>







</div>
{% endblock %}
