{% extends "pic_site/base.html" %}
{% load staticfiles %}

{% block blueimp %}


{% endblock %}

{% block content %}


<div class="container" style="font-size:120%;">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<div class="row">
		<div class="col-xs-12">
			<h1 style='text-align:center;'> Sponsors </h1>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->
			<p align="justify">Nous tenons à remercier l'ensemble de nos partenaires, sans qui le Proto Insa Club ne pourrait être ce qu'il est aujourd'hui !</p>
			<p align="justify">C'est grâce à un support sous différentes formes (aide matérielle, conseils et aide dans les services, contribution financière...) que le PIC peut ainsi continuer à évoluer parmi le Top 10 des équipes Européennes.</p>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-8">
			<h2> Subventions</h2>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4" >
			<img  style="width:80%;" src="{% static 'images/logos/Logo_INSA_Lyon_2014.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8">
			<p align=right>
			INSA de Lyon <br/>
			<a href="http://www.insa-lyon.fr">www.insa-lyon.fr</a><br/>
			Institut National des Sciences Appliquées<br/>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:120%; margin-left:-3%" src="{% static 'images/logos/Thales.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8">
			<p align=right>
				THALES <br/>
				<a href="http://www.thalesgroup.com">www.thalesgroup.com</a> <br/>
				Technologies de pointe tous domaines<br/>
			</p>
		</div>
	</div>


<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:35%;" src="{% static 'images/logos/logobde_coul.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8">
			<p align=right>
				BDE INSA de Lyon<br/>
				<a href="www.bde.insa-lyon.fr">www.bde.insa-lyon.fr</a><br/>
				Bureau des élèves de l’INSA supportant le PIC<br/>

			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:45%;" src="{% static 'images/logos/lamcosnet.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				LaMCoS<br/>	
				<a href="http://www.lamcos.insa-lyon.fr ">www.lamcos.insa-lyon.fr </a><br/>
				Laboratoire de recherche sur la mécanique et les contacts des structures<br/>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:70%;" src="{% static 'images/logos/STYLIGHT_Logo-33.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>				
				Stylight<br/>
				<a href="http://www.stylight.com">www.stylight.com</a><br/>
				Site de vente de mode en ligne<br/>
			</p>
		</div>
	</div>


	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2> Matériel</h2>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/LOGO ADEUNIS RF Couleur-300px.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
			Adeunis RF<br>
			<a href="http://www.adeunis-rf.com">www.adeunis-rf.com</a><br>
			Produits et solutions sans fil sur mesure<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/Evonik_300dpi_Screen_sRGB.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				EVONIK<br>
				<a href="http://www.evonik.com">www.evonik.com</a><br>
				Fourniture de mousse et matériaux composites<br>
			</p>
		</div>
	</div>




	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:50%;" src="{% static 'images/logos/logo_samaro.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				SAMARO<br>
				<a href="http://www.samaro.fr">www.samaro.fr</a><br>
				Lubrification et assemblage des structures<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/permabond.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Permabond<br>
				<a href="http://www.permabond.com">www.permabond.com</a><br>
				Colles spéciales pour matériaux<br>
			</p>
		</div>
	</div>

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/hexcel logo.JPG' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				HEXCEL<br>
				<a href="http://www.hexcel.com">www.hexcel.com</a><br>
				Fournisseur en structure nid d’abeille<br>
			</p>
		</div>
	</div>

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/logo_cirly.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				CIRLY<br>
				<a href="http://www.cirly.com">www.cirly.com</a><br>
				Prototypage et réalisation de circuits imprimés<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/logo_vegarc.gif' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				VEGA RC<br>
				<a href="http://www.vega-realisations-composites.fr">www.vega-realisations-composites.fr</a><br>
				Construction de bateaux de compétition.<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:60%;" src="{% static 'images/logos/logo-acnis-300dpi.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				ACNIS International<br>
				<a href="http://www.acnis-titanium.com">www.acnis-titanium.com</a><br>
				Fourniture de pièces et bruts en titane<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:75%;" src="{% static 'images/logos/Conex.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Flight CONEX<br>
				<a href="http://www.flightconex.com">www.flightconex.com</a><br>
				Réalisation de flightcases sur mesure<br>

			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/optimachines.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Optimachines<br>
				<a href="http://www.optimachines.com">www.optimachines.com</a><br>
				Outillage professionnel<br>
			</p>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2> Services</h2>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:60%;" src="{% static 'images/logos/armee_de_terre__085824500_0859_09082006.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Armée de terre<br>
				<a href="http://www.defense.gouv.fr/terre">www.defense.gouv.fr/terre</a><br>
				Mise à disposition de pistes d’essai privées<br>
			</p>
		</div>
	</div>

	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:60%;" src="{% static 'images/logos/rhone-meca.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Rhône Mécanique<br>
				<a href="http://www.rhonemecanique.com">www.rhonemecanique.com</a><br>
				Usinage de précision<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:35%;" src="{% static 'images/logos/gonin.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Gonin Moteurs<br>
				<a href="http://www.gonin-moteurs.com<">www.gonin-moteurs.com</a><br>
				Usinage, montage etéquilibrage<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:70%;" src="{% static 'images/logos/EDM.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				EDM Precision<br>
				<a href="http://www.edm-precision-lyon.fr">www.edm-precision-lyon.fr</a><br>
				Découpe par électroérosion à fil<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:70%;" src="{% static 'images/logos/centraldirect.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Centrale Directe<br>
				<a href="http://www.centrale-du-carrossier.com">www.centrale-du-carrossier.com</a><br>
				Peinture de la carrosserie<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:3%">
		<div class="col-xs-4">
			<img  style="width:80%;" src="{% static 'images/logos/Logo INSA.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-8" >
			<p align=right>
				Toumétal<br>
				<a href="http://www.toumetal.fr">www.toumetal.fr</a><br>
				Spécialiste de la découpe laser<br>
			</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
