{% extends "bouraka/base.html" %}
{% load staticfiles %}

{% block imports %}
<!-- Custom CSS -->
<link href="{% static 'css/history.css' %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1 style='text-align:center;'>Les roues</h1>         
   		</div>
	</div>
</div>

<div class="container" style="padding-left:10%;padding-right:10%;"  >
	<div class="row" style="margin:5%;">
		<div class="col-md-12">
			<a href="{% static 'images/projects/roues/roue1.png' %}" alt="Not Rendered" style="width:75%;">
			<img class="image center-block" src="{% static 'images/projects/roues/roue1.png' %}" alt="Not Rendered" style="width:75%;"></a>
		</div>
	</div>
</div>

    <!-- START /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">La jante</h2>
                    <p align="justify">La jante conçue pour accueillir un pneu tubeless radial Michelin. Un moule en 6 parties permet de garantir la qualité géométrique et surfacique de la partie accueillant le pneu. Cette pièce maîtresse  est soumise a des contraintes élevées dues à la haute pression régnant à l’intérieur du pneu (7 bars), soigneusement modélisée et dimensionnée par des calculs par éléments finis sous Abaqus (la roue entière a été modélisée) elle est constituée d’un nombre important de couches de carbone pré-imprégné.</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                	<a href="{% static 'images/projects/roues/roue4.png' %}">
                		<img class="img-responsive center-block" src="{% static 'images/projects/roues/roue4.png' %}" alt="">
		            </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END /.content-section-a -->
    <!-- START /.content-section-b -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-push-6  col-sm-6">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Les flasques</h2>
                    <p align="justify">Les flasques constitués de plusieurs peaux de carbone englobant un pain de mousse. Cette structure en sandwich permet de bénéficier d’une grande rigidité est d’une grande résistance à la flexion pour un poids minimal. La mousse ROHACELL (fournie par notre sponsor EVONIK) utilisée est une mousse à cellules fermées, elle possède une grande résistance à la pression et au cisaillement et permet de réaliser des panneaux sandwich possédant un rapport résistance/poids incomparable. Là aussi un moule dédié en 4 parties permet de garantir la géométrie nécessaire à l’assemblage des flasques sur la jante.</p>
                </div>
                <div class="col-lg-4 col-sm-pull-2  col-sm-6" style="padding-top:5%;">			
                <a href="{% static 'images/projects/roues/roue6.png' %}">
                	<img class="img-responsive center-block" src="{% static 'images/projects/roues/roue6.png' %}" alt="">
            	</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END /.content-section-b -->
    <!-- START /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Les moyeux</h2>
                    <p align="justify">Les moyeux en aluminium (avants et arrières) accueillant les axes de roues ont étés légèrement revus par rapport aux anciennes roues et devraient permettre un montage/démontage des roulements plus aisé.</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                	<a href="{% static 'images/projects/roues/roue3.jpg' %}">
                		<img class="img-responsive center-block" src="{% static 'images/projects/roues/roue3.jpg' %}" alt="" style="width:50%;">
		            </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END /.content-section-a -->



<article>
<div class="container">
	<div class="row">

		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p align="justify">Les pièces en carbone pré-imprégnés sont fabriquées par assemblage de plis de carbone déposés directement dans le moule. Les pièces sont ensuite polymérisées sous vide à l’étuve, c’est ce qu’on appelle le moulage au sac ou Vacuum bagging en anglais.</p>

			<p align="justify">Les différentes parties de la roue sont assemblées sur un support de centrage garantissant la parfaite coaxialité de l’ensemble. L’assemblage est assuré par collage structural grâce à une colle méthacrylate fourni par notre généreux partenaire SAMARO.</p>
		</div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                	<a href="{% static 'images/projects/roues/roue2.png' %}">
                		<img class="img-responsive center-block" src="{% static 'images/projects/roues/roue2.png' %}" alt="" style="width:94%;">
		            </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                	<a href="{% static 'images/projects/roues/roue5.png' %}">
                		<img class="img-responsive center-block" src="{% static 'images/projects/roues/roue5.png' %}" alt="">
		            </a>
                </div>
            </div>
        </div>
    <!-- END /.content-section-a -->
	</div>
</div>
</article>

{% endblock %}