{% extends "bouraka/base.html" %}
{% load staticfiles %}

{% block imports %}
<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block blueimp %}
{% endblock %}

{% block content %}


<div class="container" style="padding-left:10%;padding-right:10%;" >

	<div class="row">
		<div class="col-xs-12">
			<h1 style='text-align:center;'> L’équipe du PIC 2014 </h1><br>
			<p>Présentation des membres de l’association pour cette nouvelle saison !</br>
Une équipe dynamique, composée d’une vingtaine de membres actifs et passionnés par le challenge du Shell Eco Marathon.</br>
</p>
		</div>
	</div>


	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Le bureau</h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.12.26.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Nicolas Kolopp</h3>
			<b>Président / Equipe Nouveau Proto & vie de l’association</b><br>
			3ème (bis) année Génie Mécanique et développement - INSA Lyon<br>
			Entamant sa 4ème année au PIC, Niko a gravi les echelons avant de devenir team manager. Avec l’ambition de faire gagner le club en notoriété et en performance, il fait partie de ceux qui confèrent au PIC son ambiance unique.<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.12.37.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Julien Chaffard</h3>
			<b>Vice-Président / Equipe Com’, roues & nouveau proto</b><br>
			3ème année (bis) Génie Mécanique et développement - INSA Lyon<br>
			Tout ce qui roule le rend fou…mais c’est au niveau des relations avec les entreprises et l’instauration d’une nouvelle dynamique au sein du club que Julien a décidé de s’investir ! Le nouveau proto aura également besoin de lui aussi, et c’est avec de l’énergie à revendre qu’il mènera son équipe au bout !<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.12.48.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Fabien Jourdan</h3>
			<b>Direction technique / Equipe nouveau proto</b><br>
			3ème (bis) année Génie Mécanique et développement - INSA Lyon<br>
			Son truc, c’est l’aéromodélisme, et donc les composites ! Avec l’art de manier la fibre de carbone, ce sont de très belles pièces dont les roues en carbone qui doivent leur réalisation à Fabien en partie. Et ce n’est pas près de se terminer…<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.11.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Julien Dargaud</h3>
			<b>Trésorier / Equipe moteur</b><br>
			4ème année Génie Mécanique et Conception - INSA Lyon<br>
			C’est avec l’aide de notre ancien président que Julien a appris à comprendre le fonctionnement (capricieux) du moteur. Désormais, de nombreux projets afin de l’optimiser ont été mis en place de sa propre initiative. C’est parti, moteurs….<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.21.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Charly Ferret</h3>
			<b>Secrétaire / Equipe nouveau proto</b><br>
			4ème année Génie Mécanique et Conception - INSA Lyon<br>
			Passionné d’automobile, Charly entame sa deuxième année au sein du PIC. Cette saison lui permettra donc de faire avancer le projet du futur prototype, qu’il connait bien étant donné son extrême implication lors de sa conception ! Tout le club lui en doit beaucoup, alors merci Charly !<br>
			</p>
		</div>
	</div>




	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >L’équipe « New Proto »</h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.32.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Etienne Maisonny</h3>
			Diplômé Génie Mécanique et Développement - INSA Lyon<br>
			Membre depuis ses premières années à l’INSA de Lyon, Etienne apporte beaucoup au club en partageant son expérience acquise. Bricoleur et sportif à ses (nombreuses) heures perdues, il a réalisé un grand nombre projets, dont le dernier n’est autre que la conception du châssis et l’optimisation de la coque du futur prototype.<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.41.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Adrien Moulin</h3>
			5ème année Génie Mécanique et Conception - INSA Lyon<br>
			Mister Aéro pour les intimes, Adrien a passé des mois à optimiser l’aérodynamique du futur prototype sous un logiciel d’éléments finis. C’est donc avec une grande patience qu’il a su mettre en place un environnement de simulation pour calculer le Cx de la coque. Chapeau bas !<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.50.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Jérôme Verger</h3>
			4ème année Génie Mécanique et Développement - INSA Lyon<br>
			Bien qu’arrivé tardivement dans l’équipe, Jérôme a su apporter son savoir faire lors de la conception du nouveau prototype. Et le tout en mêlant humour à persévérance !<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.13.59.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Caroline Lê</h3>
			4ème année Génie Mécanique et Procédés Plasturgie - INSA Lyon<br>
			Ce sera grâce à Caroline que la coque du futur véhicule pourra être construite. Avec une prise en main de Catia en quelques mois, elle est maintenant capable de dessiner tout et n’importe quoi.<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.14.09.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Nathan Coutable</h3>
			4ème année Génie Mécanique et Conception - INSA Lyon<br>
			Avec déjà un an d’expérience au sein de l’équipe, dont le Shell Eco Marathon, Nathan a passé du temps à travailler sur la direction avant du nouveau prototype. De nombreux projets l’attendent cette année, dont la réalisation du train avant !<br>
			</p>
		</div>
	</div>


	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Nos motoristes</h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-23 à 15.34.39.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Alexandre Savignac</h3>
			4ème année Génie Industriel - INSA Lyon<br>
			Toujours très curieux de ce qu’il se passe cotémoteur, Alexandre a appris aux cotés de Julien Dargaud comment régler, monter, démonter… le moteur. C’est donc une année où il pourra développer ses connaissances sur la motorisation du futur prototype, avec à la clé une consommation inférieure à l’actuel.<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.14.40.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Julien Levray</h3>
			Diplômé Genie Mécanique et Conception - INSA Lyon<br>
			Il vient de quitter le club après tant d’années passées à le diriger vers le Top 10 du Shell Eco Marathon, et c’est comme si il était encore et toujours là ! Connaissant le moteur mieux que quiconque, capable de faire les réglages à l’oreille dans les situations les plus délicates, c’est à lui que le PIC doit aujourd’hui sa place au sein des « Top Team » de la compétition !<br>
			</p>
		</div>
	</div>


	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Les élecs’ </h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-24 à 09.14.52.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Elyes Ighilaza</h3>
			4ème année Télécommunications - INSA de Lyon<br>
			Passionné d’électronique et de programmation, Elyes a eu la lourde tâche de comprendre et de revoir certains points du circuit électronique défaillants du prototype EPIC. Il a par ailleurs été à l’origine du design et du codage du nouveau site internet. Merci Elyes !<br>
			</p>
		</div>
	</div>



	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-23 à 20.57.00.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Jeremy Bargas</h3>
			5ème année Génie Electrique - INSA de Lyon<br>
			Peu importe si ça va fonctionner ou pas…Jeremy a toujours su s’en sortir en touchant à tout ! Aujourd’hui membre de l’équipe élec' avec le plus d’expérience au sein du club (3 ans), c’est avec motivation et humour qu’il mène l’équipe vers des projets toujours plus fous les uns que les autres !<br>
			</p>
		</div>
	</div>


	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/hadrien.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Hadrien Bouvier</h3>
			5ème année Génie Electrique - INSA de Lyon<br>
			En étant toujours discret, Hadrien mène à bien tous les projets d’électronique du PIC. Patient, il ne reste pas moins quelqu’un d’actif et d’impliqué dans la vie associative, dans une atmosphère à la fois sérieuse et décontractée. Un membre de choc qui vient s’ajouter à ses deux acolytes !<br>
			</p>
		</div>
	</div>


	<hr style="width:100%;" />  <!-- ********************************************** 

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Les fous du carbone</h2>
		</div>
	</div>


	<hr style="width:100%;" />   ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >L'équipe COM' </h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-23 à 14.36.28.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Suzanne Winckler</h3>
			4ème année Génie Mécanique et Développement - INSA Lyon<br>
			Des dessins, et encore des dessins ! Avec une créativité sans limites, Suzanne est capable de mettre en page et d’imaginer n’importe quelle affiche ou logo pour le PIC. Alors si vous aimez les nouveaux supports de communication de l’équipe, banderoles, T-shirts et affiches, c’est vers elle qu’il faut se tourner !<br>
			</p>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Les pilotes</h2>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/amandine.jpg' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Amandine TA</h3>
			5ème année Génie Mécanique et Conception - INSA Lyon<br>
			Véritable pile électrique au sourire toujours présent, Amandine apporte la bonne humeur au sein du club ! Capable de toucher à tout, c’est surtout en tant que pilote qu’elle permet au PIC d’atteindre des performances qui le classent parmi le top 10 des équipes européennes !<br>
			</p>
		</div>
	</div>

	<div class="row" style=" margin-top:2%">
		<div class="col-xs-2" >
			<img  style="width:100%;" src="{% static 'images/membres/Capture d’écran 2014-09-23 à 21.19.27.png' %}" alt="Not Rendered">
		</div>
		<div class="col-xs-10">
			<p >
			<h3>Enzo Campeggio</h3>
			5ème année Génie Electrique - INSA Lyon<br>
			Avec une formation génie électrique, Enzo est capable d’apporter du sien à l’équipe élec’, mais c’est sur la piste que son potentiel s’exprime réellement ! Avec une certaine rigueur au volant, Enzo fournit des retours de « run » à l’équipe permettant d’améliorer le ressenti du proto en piste. Et lors du Shell Eco Marathon, il n’est pas là non plus pour rigoler…<br>
			</p>
		</div>
	</div>

	<hr style="width:100%;" />  <!-- ********************************************** -->

	<div class="row" style="margin-bottom:3%" >
		<div class="col-xs-12">
			<h2 >Sans oublier les anciens, sans qui le PIC n’en serait pas là ! </h2><br>
			<p>OLIVIER SPINNLER, JULIEN LEVRAY, CYRIL EMIEUX, ANTOINE PEYRE, YANNISH RAMGULAM, FLORIAN JEMMINEZ…</p>
		</div>
	</div>


</div>
{% endblock %}







